extends admin-layout

block page content
  a(href="/admin/posts/new") + New Blog Post

  div
    table
      tr
        th Title
        th Actions
      each post in posts
        tr
          td 
            h1 #{post.title}
          td
            a.edit-button(href=`/admin/posts/${post.slug}/edit`) edit
