form(action="/admin/authenticate" method="post" class="login-form")
  div.form-group
    label Username
    input(type="text" name="username" class="form-field")
  div.form-group
    label Password  
    input(type="password" name="password" class="form=field")
  button(type="submit" class="login-button") Login