extends layout

block page content
  div.blog-posts-grid
    each post in posts
      a(href=`/blog/${post.slug}`)
        div.image-container
          img(src=`${post.image_url}`, alt="").blog-post
          h2.blog-posts-title #{post.title}
        
