extends layout
block layoutClasses
  - const headerClasses = 'index-header';
block header content
  .intro-section
    .intro-message
      h1.intro-headline Hans Martin Hanken
      h3.intro-second-headline Full Stack Web Developer & Designer
block page content
  section#work
    .projects-section
      h2.section-headline WORK.
      .projects-grid
        each project in projects
          div
            a(href=`/projects/${project.slug}`)
              div.project-img-container
                img.img-fluid.project-img(src=`${project.url}`)
            h3.project-title #{project.name} | #{project.short_description}
        //- div
        //-   div.project-img-container
        //-     img.img-fluid.project-img(src='./img/yamovie.jpg')
        //-   h3.project-title YAMOVIE | FULL STACK NODE/REACT + DESIGN
        //- div
        //-   div.project-img-container
        //-     img.img-fluid.project-img(src='./img/nsupa.png')
        //-   h3.project-title &SÜPA | FULL STACK NODE/GATSBY + DESIGN
        //- div
        //-   div.project-img-container
        //-     img.img-fluid.project-img(src='./img/muli.jpg')
        //-   h3.project-title MULI CLOTHING | DESIGN + CUSTOMIZATION
        //- div
        //-   div.project-img-container
        //-     img.img-fluid.project-img(src='./img/railsstack.jpg')
        //-   h3.project-title RAILS STACK | FULL STACK RAILS/REACT + DESIGN
  section#bio.bio-section
    h2.section-headline THIS IS ME.
    .bio-grid
      img.img-fluid(src='./img/hans6.jpg')
      article.bio-text
        h3.bio-text-heading DEVELOPING FOR THE USER
        p
          | Hi. My name is Hans Martin Hanken. I am working as a Software Engineer in sunny Los Angeles, California. I
          | also
          | do freelance web development and web design. I am genuinly passionate about my work and love making fast,
          | attractive
          | and effective modern web applications.
        h4.bio-text-p-heading Background
        p
          | I grew up in Norway amongst valleys, fjords and mountains. I fell in love with creating things, especially through coding, design and music. I started my
          | coding journey in programming languages such as Ruby, using the well known Ruby on Rails framework. Today I
          | do most of my
          | work in Java Script based stacks, but I believe that solid programming fundamentals can be transferred to most
          | languages,
          | frameworks and tools. If I am
          | not spending my days
          | coding and developing, you’ll often find me outside exploring, with my wife and our dog Mishca.
        h4.bio-text-p-heading New Projects
        p I love meeting new people and being influenced by their personalities and abilities! Feel free to contact me in the form below. I never turn down good conversation, or new projects and opportunities.
  section#contact.contact-section
    form#contact-form.contact-form
      h2.section-headline SAY HELLO.
      input(name='email', placeholder='email')
      textarea(name='message', id='', cols='30', rows='12', placeholder='message')
      button(type='submit') SEND