extends layout

block page content
  div.post-container
    div.post-section
      each p in post
        - const postContent = p.content;
        h1.post-title #{p.title}
        img(src=`${p.image_url}` width="500px" height="auto")
        p!= postContent