.post-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.new-post-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post-form {
  width: 60%;
}

.new-post-form > * {
  margin-bottom: 5px;
}

.form-field {
  padding: 10px;
  font-size: 16px;
}

.submit-button {
  background: var(--red);
  color: var(--white);
}

.upload-button {
  text-align: center;
  padding: 5px;
  background: var(--black);
  color: var(--white);
}

/* ========== LOGIN FORM =========== */

.login-container {
  height: 60vh;
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.admin-tables {
  display: flex;
}

.admin-table {
  width: 50%;
}