@import './reset.css';
@import './grid.css';
@import './variables.css';
@import './brands.min.css';
 url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

 
body {
  background-color: hsla(28, 67%, 99%, 1);
}

.img-fluid {
  width: 100%;
  height: auto;
}

.section-headline {
  margin-top: 0;
  font-size: 35px;
  font-weight: 300;
}

.contact-icons {
  display: flex;
  justify-content: flex-end;
}

.contact-icons .icon {
  margin-left: var(--navbar-item-spacing);
}

.icon img {
  height: 25px;
  width: 25px;
}

/* ============================== FONTS ================================================= */

a, p, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}


/* ============================== END FONTS ================================================= */


/* ============================ NAV ====================================================== */

.header {
  position: relative;
}

.logo {
 width: 80%; 
}

.navbar {
display: flex;
position: relative;
left: 0;
width: 100%;
justify-content: space-between;
align-items: center;
padding: var(--navbar-padding);
}

.navbar a {
  cursor: pointer;
}

.page-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: var(--navbar-item-spacing);
}

/* ============================== INTRO SECTION ================================================= */
.intro-section {
  display: flex;
  transform: translateY(70%);
  justify-content: center;
  align-items: center;
}

.intro-message {
  /* padding-bottom: 70px; */
}

.intro-headline {
  font-size: 40px;
  color: var(--black);
  font-weight: 600;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right,
      #000000cc 0, 
      #00000015) 
    30;
}

.intro-second-headline {
  font-size: 21px;
  color: var(--black);
  font-weight: 400;
}

.intro-third-headline {
  font-size: 17px;
  color: var(--black);
  font-weight: 300;
}




/* ============================== WORK SECTION ================================================= */

#work {
  height: 100vh;
}

.projects-section {
  width: 70%;
  margin: 0 auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.project-img {
  vertical-align: top;
  transition: 1s;
}

.project-img-container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.project-img-container::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .6s;
}

.project-img-container:hover::after {
  background: rgba(255, 255, 255, 0.486);
}

.project-img-container:hover .project-img-text {
  opacity: 1;
}

.project-img-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 100;
  transition: .6s;
}

.project-title {
  font-family: 'Open Sans';
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
}

/* ============================== BIO SECTION ================================================= */

.bio-section {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio-grid {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-gap: 30px;
}

.bio-text-heading {
  font-size: 21px;
  margin: 0;
}

.bio-text-p-heading {
  color: var(--body-text-color);
}

.bio-text p {
  color: var(--body-text-color);
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  /* letter-spacing: 1px; */
}

/* ============================== CONTACT SECTION ================================================= */

.contact-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.contact-form textarea, .contact-form input {
  border: 1px solid var(--black);
  font-family: var(--body-text-font);
  font-size: var(--body-text-size);
  outline: none;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: var(--box-border-radius);
}

.contact-form button {
  cursor: pointer;
  font-family: var(--body-text-font);
  width: 25%;
  padding: 10px;
  font-size: 15px;
  align-self: flex-end;
  background: none;
  box-shadow: 0;
  border: 1px solid var(--black);
  border-radius: var(--box-border-radius);
}

/* ============================== FOOTER ================================================= */

.footer {
  padding: var(--navbar-padding);
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: var(--body-text-font);
  font-size: var(--body-text-size);
}

/* ============================== BLOG PAGE ================================================= */
.blog-posts-grid {
  columns: 3;
  column-gap: 20px;
}

.blog-post {
  margin-bottom: 20px;
}

