:root {
  --black: rgb(32, 32, 32);
  --red: rgb(206, 28, 28);
  --white: rgb(249, 249, 249);
  --site-side-padding: 75px; 
  --navbar-padding: 25px 0;
  --navbar-item-spacing: 30px;
  --box-border-radius: 3px;
  --header-text-font: 'Open Sans', sans-serif;
  --header-font-weight: 300;
  --body-text-font: 'Open Sans', sans-serif;
  --body-text-color: rgb(48, 48, 48);
  --body-text-size: 15px;
}